
.topo {
    display: flex;
    justify-content: space-between;
    align-items: center; 
    padding: 10px 20px;
    background-color: rgb(41, 43, 43);
}

.titulo {
    margin: 0;
    color: white;
}

.links {
    display: flex;
    gap: 20px;
    color: white; 
}

.links h2 {
    margin: 0; 
}


.corpo{
    background-color: black;
}
.escrita{
    color: white;
}

body {
    margin: 0;
    height: 100vh;
    background-color: #0a0a0a;
    overflow: hidden;
}

.constellations {
    position: relative;
    width: 100%;
    height: 100%;
}

.constellation {
    position: absolute;
    width: 100%;
    height: 100%;
}

.star {
    position: absolute;
    width: 4px;
    height: 4px;
    background-color: white;
    border-radius: 50%;
    animation: twinkle 1.5s infinite alternate;
}

@keyframes twinkle {
    0% {
        opacity: 0.3;
    }
    100% {
        opacity: 1;
    }
}
.perfil {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.foto-perfil {
    width: 150px;
    height: 150px; 
    border-radius: 50%; 
    object-fit: cover; 
    border: 3px solid #fff; 
    margin-top: -100;
    margin-bottom: 20px;
}
.nome {
    font-size: 24px; 
    color: white;  
    margin: 0;  
    margin-bottom: 20px;
}
.subtitulo {
    font-size: 18px; 
    color: lightgray; 
    margin: 0;        
    font-style: italic; 
}


